@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: outfit;
}
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%; /* Halfway, it's fully typed */
  }
  100% {
    width: 0; /* End, the text disappears again */
  }
}

@keyframes blink {
  50% {
    border-color: transparent; /* Makes the cursor blink */
  }
}

.typing-animation {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid black; 
  animation: typing 10s steps(30) infinite, blink 0.75s step-end infinite;
}
